body{
    position: center;
    text-align: center;
    justify-content: center;
}
.ovacado{
    position: center;
    width: 550px;
    height: 260px;
    left: 0px;
    top: 0px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    margin-bottom: 0;
}
.pines{
    position: center;
    width: 550px;
    height: 550px;
    left: 705px;
    top: 83px;
    background: #FBF7EE;
    margin-top: 0;
}
.tophead{
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.para{
    margin-top: 0;
    margin-bottom: 20px;
    position: absolute;
    width: 211px;
    height: 51.23px;
    left: 169px;
    top: 155px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.likehead{
width: 346px;
height: 25px;
left: 102px;
top: 297px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #1A1921;
text-align: center;
position: center;
}
